.main {
  width: 100%;
  display: grid;
  grid-template-rows: 40px fit-content(50%) fit-content(50%) 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  height: 100vh;
  .header {
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 4;
    background-color: grey;
  }
  .footer {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 4;
    margin-top: auto;
    background-color: grey;
  }
  .content {
    width: 100%;
    height: fit-content;
    background: yellow;
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 4;
  }
  .img {
    display: inline;
    float: left;
  }
  .side-1 {
    background-color: green;
    grid-row-start: 2;
    grid-column-start: 1;

    display: inline-block;
    grid-row-end: 3;
    grid-column-end: 2;
    resize: vertical;
    overflow: auto;
  }
  .side-2 {
    background: red;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
    resize: vertical;
    overflow: auto;
  }
}
div {
  background: #ccc;
}

@media (max-width: 625px) {
  .side-1,
  .side-2 {
    width: 100%;
    min-height: 30px;
    overflow: initial;
    resize: none;
  }
  .header {
    min-height: 30px;
    width: 100%;
    order: 0;
  }
  .side-1 {
    order: 1;
  }
  .content {
    order: 2;
  }
  .side-2 {
    order: 3;
  }
  .footer {
    min-height: 30px;
    width: 100%;
    order: 4;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
